:root {
  --contenedor: 75rem;
  --color-circulo: #FFEEEE;
  --color-texto: #0000;
  --secondary: linear-gradient(to top, #8743ff, #4136f1);

}

/*header*/
/**/
html[data-theme='light']{  
  --bg: #fff;
  --bg-panel: #ebebeb;
  --switch-color: #FFF6EA;
  --color-heading:#FFEEEE;
  --color-text: #333333;
}

html[data-theme='dark'] {
  --body-color:#04293A;
  --text-color: #fff;
  --color-circulo:#064663;
  --color-footer:#000;
  --container-color:#041C32;
  --title-color:#fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}


label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--switch-color);
  float: right;
  border-radius: 100px;
  position: relative;
  left: 5rem;
  display: none;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input:checked + label {
  background: var(--switch-color);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}






/**/
.loader_bg{
  position: fixed;
  left: 0rem;
  z-index: 999999;
  background: #fff;
  width: 150%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid var(--color-circulo);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-circulo);
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  width: 32px;
  border-radius: 50%;
  display: none;
}

ul{
  display: flex;
  
}
li{
  list-style: none;
  padding-left: 3rem;
}
a{
  text-decoration: none;
}

.icon{
    display: none;
}
.text{
  color: var(--title-color);
}



.contendor_Chigo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75rem;
  margin: auto;
  position: relative;
  top: 6rem;
}

.texto_chigo {
  font-family: var(--color-texto);
  font-weight: 700;
  text-align: center;
  margin-left: 5rem;
  display: inline-block;
}
.texto_chigo-parrafo {
  position: relative;
  left: 10rem;
  font-size: 1rem;
  font-weight: 600;
}

.circulo {
  background: url(../img/prueba.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--color-circulo);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
.boton_chigo {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--fuente-texto);
  background: var(--color-circulo);
  position: relative;
  top: 3rem;
  left: 26rem;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 7rem;
  gap: 6rem;
  position: relative;
  top: 10rem;

}

/***/
.testimonial-carousel{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  top: 7rem;
}
.testimonials-wrapper{
  width: 95%;
  max-width: 500px;
  margin: 0 auto
}

.testimonials-wrapper h4{
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  padding: 30px;
  color: #000;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}
.testimonials-blob,
.testimonials-img{
  border-radius: 100%;
}
.testimonials-img{
  position: relative;
  left: 50%;
  overflow: hidden!important;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: -50px;
  box-shadow: 0 0 0 5px #171719;
  transition: all ease-out .5s;
  transform: translateY(-30%);
  filter: brightness(2)
}
.testimonial-carousel .active .testimonials-img{
  transform: translateY(0);
  filter: brightness(1)
}
.testimonials-person-info{
  text-align: center;
  color: #fff;
}
.testimonials-blob {
  position: relative;
  left: 80%;
  width: 3px;
  height: 3px;
  transform: rotate(45deg)

}
@keyframes anim {
  0%{
    opacity: 0;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
  }
  100% {
    opacity: 1;
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
  }
}

.testimonial-carousel .active .testimonials-blob{
  transform-origin: 50% 50%;
  animation: anim linear .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}
.testimonial-carousel{
  overflow: hidden;
  cursor: grab
}
.testimonial-carousel:active{
  cursor: grabbing;
}

.testimonial-carousel .owl-item{
  overflow: hidden;
  transition: all ease-out .3s;
  transform: scale(.7);
  opacity: 0
}
.testimonial-carousel .owl-item.active {
  transform: scale(1);
  opacity: 1
}
.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev{
  font-size: 13px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  padding: 0 10px;
  transition: all ease-out .25s;
  transform: translateY(-100%);
  opacity: 1;
  color: #fff;
  border-radius: 3px;
  background: #171719
}
.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover{
  color: #fff;
  background: #615e6b;
}
.testimonial-carousel .owl-prev{
  left: 0;
}
.testimonial-carousel .owl-next {
  right: 0;
}
.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled{
  opacity: 0;
}
/***/


.Circulo {
  background: url(../img/a.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--color-circulo);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
.contendor_Chigo:nth-child(2) {
  align-items: center;
  gap: 6rem;
}

/*medias queries*/

/*esto sirve para telefonos*/


@media screen and (max-width: 480px) and (max-width: 576px) {  
  /**/
  label{
    display:block;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 60px;
    background:var(--color-circulo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
    text-transform: capitalize;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
    padding-left: 0;

}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
}

.navigation ul li.active a .icon {
    transform: translateY(-30px);
    color: #2196f3;
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
    background: #2196f3;
    padding: 2px 7px;
    border-radius: 12px;
}

.navigation ul li.active a .text {
    transform: translateY(-4px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: var(--color-circulo);
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px var(--color-circulo);
}

.indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px var(--color-circulo)
}
.nav__img {
    
    display: block;
  }
  
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}




  .cards-grid {
    grid-template-columns: repeat(1,1fr);
    margin: 2rem;
    position: relative;
    top: 12rem;
  }
  .prueba{
    width: 60%;
    height: 11.563rem;
    position: relative;
    left: 4rem;
    top: 2rem;
    /* display: flex; */
    
  }
  .flip-card-front p {
    padding-top: 15rem;
    padding-left: 6rem;
  }
  .contendor_Chigo {
    width: 20rem;
    grid-template-rows: repeat(2, 1fr);
  }
  .texto_chigo {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    display: inline-block;
  }
  .texto_chigo-parrafo {
    display: inline-block;
    left: 0rem;
    line-height: 2.5;
  }
  .boton_chigo {
    top: 2rem;
    left: 10rem;
  }
  .contendor_Chigo .contenedor__chigo-texto {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contendor_Chigo .circulo {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .circulo {
    width: 189%;
    height: 22.563rem;
    position: relative;
    left: 0rem;
  }
  .contendor_Chigo:nth-child(2) {
    grid-template-rows: repeat(2,61%);
  }
  .contendor_Chigo:nth-child(2) .Circulo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .Circulo{
    background-size: 155%;
    height: 28.563rem;
  }
  .contendor_Chigo:nth-child(2) .contendor_trabajar{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-block;
    position: relative;
    bottom: 13rem;
  }
  
  r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    
    }
    .footer{
      top: 20rem;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
  .texto_chigo-parrafo{
  }

}

/* Remove if you choose, the minimalist design */

@media screen and (min-width: 992px) and (max-width:1200px) { 

}
@media screen and (min-width: 1200px) and (max-width:1400px) { 

 
  .contendor_Chigo{
    gap: 8rem;
    align-items: center;
   
  }
  .texto_chigo-parrafo{
   
    line-height: 2.5;
    font-size: 2rem;
  }
  .contenedor__chigo-texto{
    position: relative;
    top: 0rem;
    right: 6rem;
  }
  .boton_chigo{
    
    top: 0rem;
    left: 33rem;

  }
  .texto_chigo-parrafo:nth-child(2){
    line-height: 3;
    font-size: 1.5rem;
    position: relative;
    left: 0rem;
  }
}
