:root {
  --contenedor: 75rem;
  --color-circulo: #FFEEEE;
  --color-texto: #0000;
  --secondary: linear-gradient(to top, #8743ff, #4136f1);

}

/*header*/
/**/
html[data-theme='light']{  
  --bg: #fff;
  --bg-panel: #ebebeb;
  --switch-color: rgb(27, 168, 14);
  --color-heading: rgb(27, 168, 14);
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --switch-color: #0077ff;
  --color-heading: #0077ff;
  --color-text: #B5B5B5;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}


label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--switch-color);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input:checked + label {
  background: var(--switch-color);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}






/**/
.loader_bg{
  position: fixed;
  left: 0rem;
  z-index: 999999;
  background: #fff;
  width: 150%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid var(--color-circulo);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  width: 32px;
  border-radius: 50%;
  display: none;
}

ul{
  display: flex;
  
}
li{
  list-style: none;
  padding-left: 3rem;
}
a{
  text-decoration: none;
}

.icon{
    display: none;
}




.contendor_Chigo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75rem;
  margin: auto;
  position: relative;
  top: 6rem;
}

.texto_chigo {
  font-family: var(--fuente-texto);
  font-weight: 700;
  text-align: center;
  margin-left: 5rem;
  display: inline-block;
}
.texto_chigo-parrafo {
  position: relative;
  left: 10rem;
  font-size: 1rem;
  font-weight: 600;
}

.circulo {
  background: url(../img/prueba.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--color-circulo);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
.boton_chigo {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--fuente-texto);
  background: var(--color-circulo);
  position: relative;
  top: 3rem;
  left: 26rem;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 7rem;
  gap: 6rem;
  position: relative;
  top: 10rem;

}

/* FLIP CARD */
.flip-card {
  width: 320px;
  height: 504px;
  perspective: 2000px;
}
.prueba{
  background: url(../img/prueba.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 65%;
  height: 11.563rem;
  position: relative;
  left: 3rem;
  top: 3rem;
  /* display: flex; */
  border-radius: 50%;
  /* display: flex; */
  border-radius: 50%;
}
.fa-regular {

  color: var(--fuente-texto);
  font-size: 5rem;
  border-radius: 50%;
  padding-left: 7rem;
    padding-top: 3rem;
}
.flip-card-front p{
  padding-top: 16rem;
  padding-left: 5rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  place-items: center;
  background-color:var(--contenedor);
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}



/**
.contendor__tarjeta{
  
  display: grid;
  grid-template-columns: repeat(4,19%);
  gap: 2rem;
}
.contendor__tarjeta .flip-card:nth-child(5){
  grid-column:3/2;
  grid-row:3/2;
  background: red;  
}
.contendor__tarjeta .flip-card:nth-child(6){
  grid-column-start: 2;
  grid-column-end: 4;
  background: yellow;  
}
.flip-card {
  
  width: 21.875rem;
  height: 28.125rem;
  perspective: 62.5rem;
}

.flip-card-inner {
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: var(--color-circulo);
}
img{
    width: 140px;
    border-radius: 50%;
   
}
.flip-card:focus {
    outline: 0;
}
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
 
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__descripcion{
    margin-top: 12rem;
}
**/
.Circulo {
  background: url(../img/a.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--color-circulo);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
.contendor_Chigo:nth-child(2) {
  align-items: center;
  gap: 6rem;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: var(--color-footer);
  position: relative;
  top:10rem ;
}
.logo_chigo {
  width: 10rem;
}
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: #999;
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 20%;
  color: #999;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }
/*medias queries*/

/*esto sirve para telefonos*/


@media screen and (max-width: 480px) and (max-width: 576px) {  
  /**/
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
    text-transform: capitalize;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
    padding-left: 0;

}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
}

.navigation ul li.active a .icon {
    transform: translateY(-30px);
    color: #2196f3;
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
    background: #2196f3;
    padding: 2px 7px;
    border-radius: 12px;
}

.navigation ul li.active a .text {
    transform: translateY(-4px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff
}

.indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff
}
.nav__img {
    
    display: block;
  }
  
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}




  .cards-grid {
    grid-template-columns: repeat(1,1fr);
    margin: 2rem;
    position: relative;
    top: 12rem;
  }
  .prueba{
    width: 60%;
    height: 11.563rem;
    position: relative;
    left: 4rem;
    top: 2rem;
    /* display: flex; */
    
  }
  .flip-card-front p {
    padding-top: 15rem;
    padding-left: 6rem;
  }
  .contendor_Chigo {
    width: 20rem;
    grid-template-rows: repeat(2, 1fr);
  }
  .texto_chigo {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    display: inline-block;
  }
  .texto_chigo-parrafo {
    display: inline-block;
    left: 0rem;
    line-height: 2.5;
  }
  .boton_chigo {
    top: 2rem;
    left: 10rem;
  }
  .contendor_Chigo .contenedor__chigo-texto {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contendor_Chigo .circulo {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .circulo {
    width: 189%;
    height: 22.563rem;
    position: relative;
    left: 0rem;
  }
  .contendor_Chigo:nth-child(2) {
    grid-template-rows: repeat(2,66%);
  }
  .contendor_Chigo:nth-child(2) .Circulo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .Circulo{
    background-size: 155%;
    height: 28.563rem;
  }
  .contendor_Chigo:nth-child(2) .contendor_trabajar{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-block;
    position: relative;
    bottom: 13rem;
  }
  
  r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    
    }
    .footer{
      top: 20rem;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
  .texto_chigo-parrafo{
  }

}

/* Remove if you choose, the minimalist design */

@media screen and (min-width: 992px) and (max-width:1200px) { 

}
@media screen and (min-width: 1200px) and (max-width:1400px) { 
  .contendor_Chigo{
    gap: 8rem;
    align-items: center;
   
  }
  .texto_chigo-parrafo{
   
    line-height: 2.5;
    font-size: 2rem;
  }
  .contenedor__chigo-texto{
    position: relative;
    top: 0rem;
    right: 6rem;
  }
  .boton_chigo{
    
    top: 0rem;
    left: 33rem;

  }
  .texto_chigo-parrafo:nth-child(2){
    line-height: 3;
    font-size: 1.5rem;
    position: relative;
    left: 0rem;
  }
}
