/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/

body{
  background-color: var(--body-color);
}

:root {
  --body-color:#ededed;
  --header-height: 2.5rem;
  --header-color:#dddddd;
  --color-10:#ffff;
  --color-30:#f8434a;
  --color-abajo:#fff;
  --color-boton:#ededed;
  --barra-abajo:#f8434a;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  
  --body-font: 'Open Sans', sans-serif;
}

[data-theme='oscuro'] {
  --body-color:#082032;
  --header-color:#2C394B;
  --barra-abajo:#1f303d;
  --color-30:#2C394B;
  --color-boton:#082032;

}
#toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  width: 60px;
  background-color: #1f1e1e;
  border-radius: 16px;
  padding: 2px 2px 0 2px;
  position: relative;
  left: 5rem;
  display: none;
}
#toggle {
  width: 0;
  height: 0;
  opacity: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
}
.slider::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f3f3f3;
  top: -1px;
  left: -1px;
  box-shadow: blue 0 0 5px;
  transition: 0.4s;
}
input:checked + .slider::before {
  transform: translateX(32px);
}


/**/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 10px 28px 23px -18px rgba(19,19,19,0.21);
  background-color:var(--header-color);
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li{
  list-style: none;
  padding-left: 3rem;
}
a{
  text-decoration: none;
  color: var(--color-10);
}

.icon{
    display: none;
}
.text{
  color: var(--color-10);
}

.contendor_Chigo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14rem;
  width: 95rem;
  margin-left: 7rem;
  position: relative;
  top: 6rem;
  color: var(--color-10);
}
.texto_chigo {
  font-family: var(--color-texto);
  font-weight: 700;
  text-align: center;
  margin-left: 5rem;
  display: inline-block;
}
.texto_chigo-parrafo {
  position: relative;
  left: 10rem;
  font-size: 1.6rem;

}

.circulo {
  background: url(../img/foto.webp);
  background-repeat: no-repeat;
  background-position: left 0rem top -11rem;
  background-size: 100%;
  background-color: var(--color-10);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
h3{
  font-size: 3.5rem;
}
.boton_chigo {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  background:var(--color-30) ;
  position: relative;
  top: 3rem;
  left: 26rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 7rem;
  gap: 6rem;
  position: relative;
  top: 10rem;

}

.nuestros_servicios{
  text-align: center;
    color: var(--color-10);
    margin-top: 14rem;
    font-size: 2.5rem;
}
h1{
  font-size: 4.5rem;
  text-align: center;
}

.contenedor {
  padding: 2em;  
  
  display: flex;
}
.pricing-table {
  --pricing-table-color: #3676ec;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em,23%));
  grid-gap: 2em;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.pricing-table__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--header-color);
  padding: 2em;
  border-radius: 1.5em;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1),
    transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.pricing-table__item:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
}
.pricing-table__item--popular {
  position: relative;
}
.pricing-table__item--popular::before {
  position: absolute;
  content: attr(data-popular);
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  
  border-radius: 1em;
  color: #282824;
}
.pricing-table__img {
  margin: 2.5em auto 4em;
  width: 100%;
  max-width: 30.3em;
}
.pricing-table__title {
  margin: 0;
  font-size: 1.7em;
  text-transform: capitalize;
}
.pricing-table__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.pricing-table__tagline {
  margin: 0;
  color:var(--color-10);
  text-align: center;
}
.pricing-table__price {
  color: var(--color-10);
  font-size: 2.5em;
  margin: 1em auto 0;
  font-weight: bold;
}
.pricing-table__label {
  margin: 0;
  color: #9ea0a3;
  font-size: 0.9em;
}
.pricing-table__save {
  color: #4cae4f;
  font-weight: bold;
}
.pricing-table__products {
  margin: 1.87em 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-table__product {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.pricing-table__product a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}
.pricing-table__product a:hover {
  color: var(--pricing-table-color);
}
.pricing-table__product::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  margin-inline-end: 1em;
  border-radius: 50%;
  background-color: var(--pricing-table-color);
}
.pricing-table__product--excluded::before {
  content: " ";
  width: 0.5em;
  height: 0.5em;
  margin-inline-end: 1em;
  border-radius: 0;
  color: red;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E")
    center/contain;
  transform: scale(2.5);
}
#boton,#asesoria,#administracion,#contabilidad,#control,#impuestos,#consultaria_em,#Planificación{
  border-radius: 0.2rem;
  /* outline: none; */
  border-style: none;
  width: 8rem;
  height: 3rem;
  background-color: var(--color-boton);
  color: var(--color-10);
  cursor: pointer;
}
#boton:hover,#asesoria:hover,#administracion:hover,#contabilidad:hover,#control:hover,#impuestos:hover,#consultaria_em:hover,#Planificación:hover{
  background:#234f6e;
}


#boton:active,#asesoria:active,#administracion:active,#contabilidad:active,#control:active,#impuestos:active,#consultaria_em:active,#Planificación:active{
  background:#234f6e;
}


.Circulo {
  background: url(../img/foto.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--color-10);
  border-radius: 77% 23% 57% 43% / 39% 49% 51% 61%;
  width: 100%;
  height: 45.563rem;
}
.contendor_Chigo:nth-child(2) {
  align-items: center;
  gap: 6rem;
}

@media (max-width: 599px) {
  #toggle-label{
    display: block;
  }
  label{
    display:block;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 60px;
    background:var(--barra-abajo);
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} 
.navigation ul {
  display: flex;
  width: 350px;
  text-transform: capitalize;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
  padding-left: 0;

}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.4s;

}
.navigation ul li.active a .icon {
  transform: translateY(-30px);

  color: var(--body-texto);
  color: var(--color-abajo);
}

.navigation ul li a .text {
  position: absolute;
  color:var(--color-10);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(15px);
 
  padding: 2px 7px;
  border-radius: 12px;
}
.navigation ul li.active a .text {
  transform: translateY(6px);
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: var(--barra-abajo);
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px var(--barra-abajo);
  transition: 0.4s;

}

.indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px var(--barra-abajo);
  transition: 0.4s;
}
.nav__img {
  
  display: block;
}
.nuestros_servicios{
  font-size: 1.5rem;
  margin-top: -19rem;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.cards-grid {
  grid-template-columns: repeat(1,1fr);
  margin: 2rem;
  position: relative;
  top: 12rem;
}
.cards-grid {
  grid-template-columns: repeat(1,1fr);
  margin: 2rem;
  position: relative;
  top: 12rem;
}
.prueba{
  width: 60%;
  height: 11.563rem;
  position: relative;
  left: 4rem;
  top: 2rem;
  /* display: flex; */
  
}
.flip-card-front p {
  padding-top: 15rem;
  padding-left: 6rem;
}
.contendor_Chigo {
  width: 20rem;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 2rem;
  position: relative;

}
.texto_chigo {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2rem;
  display: inline-block;
}
.texto_chigo-parrafo {
  display: inline-block;
  left: 0rem;
  line-height: 1.9;
}
.boton_chigo {

  top: 2rem;
  left: 10rem;
}
.contendor_Chigo .contenedor__chigo-texto {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
    bottom: 21rem;
    color: var(--color-texto);
}

.contendor_Chigo .circulo {
  grid-row-start: 1;
  grid-row-end: 2;
}
h1{
  font-size: 2.5rem;
}
h3{
  font-size: 2.5rem;
}
.circulo {
  width: 600%;
  height: 22.563rem;
  position: relative;
  left: 0rem;
  background-position: left 0rem top -3rem;
}
.contendor_Chigo:nth-child(2) {
  grid-template-rows: repeat(2,61%);
  position: relative;
    top: -27rem;
}

.contendor_Chigo:nth-child(2) .Circulo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
 margin-top: 8rem;
}

.Circulo{
  background-size: 155%;
  height: 22.563rem;
}
.contendor_Chigo:nth-child(2) .contendor_trabajar{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: inline-block;
  position: relative;
  bottom: 19rem;
}
}

@media (min-width: 600px) {
  .contendor_Chigo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 14rem;
    width: 95rem;
    margin-left: 7rem;
    position: relative;
    top: 6rem;
    color: var(--color-10);
  }
}
@media (min-width: 900px) { 
  .contendor_Chigo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14rem;
    width: 95rem;
    margin-left: 7rem;
    position: relative;
    top: 6rem;
    color: var(--color-10);
  }
}
@media (min-width: 1200px) { 
  .contendor_Chigo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    width: 80rem;
    margin-left: -2rem;
    position: relative;
    top: 2rem;
    color: var(--color-10);
  }
  .contendor_Chigo:nth-child(2) {
    align-items: center;
    gap: 1rem;

  }
  .contendor_Chigo:nth-child(2) .Circulo {

    width: 80%;
    height: 35.563rem;
  }
  .contendor_trabajar{

    position: relative;
    right: 4rem;
  }
  .circulo{
    width: 92%;
    height: 37.563rem;
    
  }
  .texto_chigo-parrafo{
    left: 4rem;
  }
  h3{
    font-size: 2.5rem;
  }
  .nuestros_servicios{
    margin-top: 5rem;
  }
  .pricing-table{
    grid-template-columns: repeat(auto-fit, minmax(18em,23%)); 
  }

}
